* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;
    color: blue;
    padding: 20px;
    height: 100vh;
    overflow: auto;
}

header {
    position: relative;
    padding: 20px;
    background-color: #003366;
    color: white;
    overflow: auto;
}

h1 {
    font-size: 24px;
}

.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px;
    height: auto;
    overflow: auto;
}

nav {
    background-color: #00509e;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    overflow: auto;
}

nav a:hover {
    text-decoration: underline;
}

.productos-container {
    height: calc(100vh - 100px);
    overflow-y: auto; 
    padding: 10px;
    overflow: auto;
}

.producto {
    border: 2px solid blue;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    background-color: #f4f4f4;
    overflow: auto;
}

.boton {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    overflow: auto;
}

.caratula {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #221a99;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(48, 207, 104, 0.945);
    max-width: 900px;
    width: 90%;
    overflow: auto;
}

.texto {
    flex: 1;
    padding-right: 2rem;
    overflow: auto;
}

.texto h1 {
    font-size: 2.5rem;
    color: #bfc74c;
    overflow: auto;
}

.texto p {
    font-size: 1.2rem;
    color: #ffffff;
    line-height: 1.6;
    overflow: auto;
}

.imagen {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.imagen img {
    max-width: 100%;
    border-radius: 10px;
    overflow: auto;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: auto;
}
